*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    justify-content: center;
    align-items: center;
}

.card{
    min-height: 90vh;
    border-radius: 20px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
}

.corPrimaria{
    background-color: #F0FFFF;
}
.corSecundaria{
    background-color: #F0F8FF;
}

.foto{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 50%;
}
.title{
    text-align: center;
    text-underline-position: below;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.div-separacao{
    padding-top: 5px;
    padding-bottom: 5px;
}